body{
  background-color: #0066FF;
}
button{
  background-color: white;
  height: 250px;
  width: 250px;
  font-size: 200px;
  color: #0066FF;
}
#a{
  position: absolute;
  left: 250px;
  top: 150px;
}
#b{
  position: absolute;
  left: 525px;
  top: 150px;
}
#c{
  position: absolute;
  left: 800px;
  top: 150px;
}
#d{
  position: absolute;
  left: 250px;
  top: 425px;
}
#e{
  position: absolute;
  left: 525px;
  top: 425px;
}
#f{
  position: absolute;
  left: 800px;
  top: 425px;
}
#g{
  position: absolute;
  left: 250px;
  top: 700px;
}
#h{
  position: absolute;
  left: 525px;
  top: 700px;
}
#i{
  position: absolute;
  left: 800px;
  top: 700px;
}
#win2{
  position: absolute;
  top: 384px;
  left: 274px;
  font-size: 100px;
  color: black;
}
#win{
  position: absolute;
  top: 385px;
  left: 275px;
  font-size: 100px;
  color: #FF0099;
}
#playAgain{
  height: 125px;
  width: 125px;
  position: absolute;
  left: 1075px;
  top: 487.5px;
  font-size: 40px;
}
h1{
  position: absolute;
  left: 520px;
  top: 25px;
  font-size: 50px;
  color: white;
}
